.input-control {
	position:relative;
	input.clearable {
		padding-right:24px;
	}
	.btn-clear {
		position: absolute;
		top: 50%;
		margin-top: -8px;
		right: 9px;
		color: gray;
		display: block;
		line-height: 1;
	}
}